.export-button {
  background: none;
  border: none;
  color: rgb(119, 119, 119);
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
  font-style: italic;
}

.export-button:hover,
.export-button:focus {
  text-decoration: underline;
}

.export-modal,
.export-modal-overlay {
  display: none;
}

.export-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: white;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.4) -3px 3px 3px;
  border-radius: 5px;
  min-width: 500px;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

.export-modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.export-modal h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.export-modal h1.loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 35px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 35px;
  }
}

.export-options label {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
}

.export-options label input {
  margin-right: 0.5em;
  vertical-align: middle;
}

.export-modal textarea {
  width: 100%;
  min-height: 300px;
}

.export-buttons {
  margin-top: 50px;
}

.export-modal [type="button"] {
  background: none;
  border: none;
  color: #05a;
  cursor: pointer;
  padding: 0;
  margin-right: 1em;
  display: inline-block;
}

.export-modal [type="button"]:hover,
.export-modal [type="button"]:focus {
  text-decoration: underline;
}

.export-modal-overlay {
  content: "";
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
